:root {
    --bs-primary: #42a4dd;
    --bs-gray: #cdcdcd;
    --bs-gray2: #F2F2F2;
    --bs-dark: #252525;
}

.row {
    --bs-gutter-y: 1.5rem;
}

body {
    background-color: #f0f4f7;
}

main {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.card {
    padding: 0 2.5rem;
    border-radius: 0.75rem;
    border: unset;
    height: 100%;

    .card-header {
        background-color: unset;
        padding: 1.5rem 0;
        font-size: 20px;
        font-weight: bold;
    }

    .card-body {
        padding: 2.5rem 0;

        .count-item {
            width: 100%;
            background-color: #f2f2f2;
            border-radius: 0.75rem;
            font-weight: bold;
            height: 3.5rem;
            padding: 0 1rem;
            display: flex;

            .line {
                background-color: black;
                border-radius: 1rem;
                width: 4px;
                height: 2rem;
                align-self: center;
                margin-right: 1rem;

                &.line-primary {
                    background-color: var(--bs-primary);
                }

                &.line-dark {
                    background-color: var(--bs-dark);
                }

                &.line-gray {
                    background-color: var(--bs-gray);
                }
            }

            .text {
                flex-grow: 1;
                align-self: center;
                font-weight: bold;
            }

            .num {
                align-self: center;
            }
        }

        .filter {

            input {
                margin-left: 0.875rem;
                width: 240px;
                display: inline-block;
                margin-right: 2rem;
            }

            .btn {
                font-weight: bold;
            }

            .btn-link {
                text-decoration: none;
                color: black;
            }
        }

        .table {
            margin-bottom: 0;

            &> :not(:first-child) {
                border-top: unset;
            }

            th {
                padding: 0.875rem;
            }

            td {
                font-size: 1.125rem;
                padding: 0.875rem;
                min-height: 3.5rem;
                vertical-align: middle;
            }

            .badge {
                font-size: 0.875rem;
                padding: 0.4rem 0.8rem;
            }

            .badge-success {
                background-color: #ddfdda;
                color: #45a025;
            }

            .badge-secondary {
                background-color: #f2f2f2;
                color: #727272;
            }

            .logo {
                width: 24px;
                height: 24px;
                background-color: #E6E6E6;
                display: inline-block;
                margin-right: 1rem;
                border-radius: 100%;

            }

            .title {
                display: flex;
                align-items: center;

                .image {
                    margin-left: 1rem;
                    font-size: 1rem;
                    color: #CDCDCD;
                }
            }

        }
    }
}

#cpu,
#mem {
    width: 100%;
}

svg {
    width: 100%;
    fill: none;
    stroke: var(--bs-primary);
    stroke-width: 10;
    stroke-linecap: round;
    overflow: overlay;
}

.progressbar-text {
    text-align: center;
    p {
        font-size: 20px;
    }
}

.legend {
    background-color: black;
    border-radius: 1rem;
    width: 1rem;
    height: 3rem;
    align-self: center;
    margin-right: 1rem;

    &.legend-primary {
        background-color: var(--bs-primary);
    }

    &.legend-dark {
        background-color: var(--bs-dark);
    }

    &.legend-gray {
        background-color: var(--bs-gray2);
    }
}
